# **Lab 4: Transforming data: Into to dplyr**

## **dplyr verbs(functions)**
dplyr utilities handle the vast majority of your data manipulation needs:

*   filter() - for picking observations by their values,
*   select() - for picking variables by their names,
*   arrange() - for reorder the rows,
*   mutate() - for creating new variables with functions on existing variables,
*   summarise() - for collapse many values down to a single summary.

## **The structure of dplyr functions**

All verbs work similarly:


*   The first argument is a tibble (or data frame)
*   The subsequent ones describe what to do, using the variable names
*   The result is a new tibble

## **The movie industry dataset**

`movies.csv` contains information on last three decades of movies.
The data has been scraped from the IMDb website and can be accessed from a [github repo](https://raw.githubusercontent.com/Juanets/movie-stats/master/movies.csv).

In [1]:
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
url <- "https://raw.githubusercontent.com/Juanets/movie-stats/master/movies.csv"
movies <- read_csv(url)
locale <- Sys.setlocale(category = "LC_ALL", locale = "C")
head(movies)

Parsed with column specification:
cols(
  budget = col_double(),
  company = col_character(),
  country = col_character(),
  director = col_character(),
  genre = col_character(),
  gross = col_double(),
  name = col_character(),
  rating = col_character(),
  released = col_character(),
  runtime = col_double(),
  score = col_double(),
  star = col_character(),
  votes = col_double(),
  writer = col_character(),
  year = col_double()
)

  budget   company                                country director
1  8000000 Columbia Pictures Corporation          USA     Rob Reiner
2  6000000 Paramount Pictures                     USA     John Hughes
3 15000000 Paramount Pictures                     USA     Tony Scott
4 18500000 Twentieth Century Fox Film Corporation USA     James Cameron
5  9000000 Walt Disney Pictures                   USA     Randal Kleiser
6  6000000 Hemdale                                UK      Oliver Stone
  genre     gross     name                     rating released   runtime score
1 Adventure  52287414 Stand by Me              R      1986-08-22  89     8.1
2 Comedy     70136369 Ferris Bueller's Day Off PG-13  1986-06-11 103     7.8
3 Action    179800601 Top Gun                  PG     1986-05-16 110     6.9
4 Action     85160248 Aliens                   R      1986-07-18 137     8.4
5 Adventure  18564613 Flight of the Navigator  PG     1986-08-01  90     6.9
6 Drama     138530565 Platoon                  R      1987-02-06 120     8.1
  star              votes  writer        year
1 Wil Wheaton       299174 Stephen King  1986
2 Matthew Broderick 264740 John Hughes   1986
3 Tom Cruise        236909 Jim Cash      1986
4 Sigourney Weaver  540152 James Cameron 1986
5 Joey Cramer        36636 Mark H. Baker 1986
6 Charlie Sheen     317585 Oliver Stone  1986

## **filter(): retain rows matching a criteria**

filter() allows you to subset observations based on their values.

In [3]:
# note: both comma and "&" represent AND condition
filter(movies, genre == "Comedy", director == "Woody Allen")[1:10,]

   budget   company                                     country director
1   6400000 Orion Pictures                              USA     Woody Allen
2  16000000 Orion Pictures                              USA     Woody Allen
3  19000000 Jack Rollins & Charles H. Joffe Productions USA     Woody Allen
4  15000000 Touchstone Pictures                         USA     Woody Allen
5  12000000 Orion Pictures                              USA     Woody Allen
6  14000000 Orion Pictures                              USA     Woody Allen
7  20000000 TriStar Pictures                            USA     Woody Allen
8  13500000 TriStar Pictures                            USA     Woody Allen
9  20000000 Miramax                                     USA     Woody Allen
10 15000000 Sweetland Films                             USA     Woody Allen
   genre  gross    name                     rating released   runtime score
1  Comedy 40084041 Hannah and Her Sisters   PG-13  1986-03-14 107     8.0
2  Comedy 14792779 Radio Days               PG     1987-01-30  88     7.6
3  Comedy 18254702 Crimes and Misdemeanors  PG-13  1989-11-03 104     8.0
4  Comedy 10763469 New York Stories         PG     1989-03-10 124     6.4
5  Comedy  7331647 Alice                    PG-13  1991-01-10 106     6.6
6  Comedy  2735731 Shadows and Fog          PG-13  1992-03-20  85     6.8
7  Comedy 10555619 Husbands and Wives       R      1992-09-18 103     7.6
8  Comedy 11285588 Manhattan Murder Mystery PG     1993-08-18 104     7.4
9  Comedy 13383737 Bullets Over Broadway    R      1995-02-24  98     7.5
10 Comedy  6700000 Mighty Aphrodite         R      1995-11-10  95     7.1
   star          votes writer        year
1  Mia Farrow    56988 Woody Allen   1986
2  Mia Farrow    26467 Woody Allen   1987
3  Martin Landau 46269 Woody Allen   1989
4  Woody Allen   14652 Richard Price 1989
5  Mia Farrow    11331 Woody Allen   1990
6  Woody Allen   14024 Woody Allen   1991
7  Woody Allen   23108 Woody Allen   1992
8  Woody Allen   30925 Woody Allen   1993
9  John Cusack   31237 Woody Allen   1994
10 Woody Allen   33697 Woody Allen   1995

Package dplyr executes the filtering and returns a new data frame. It never modifies the original one.

## **Logical operators**

In [4]:
# Using AND operator
filter(movies, country == "USA", budget > 2.5e8)
# same as filter(movies, country == "USA" & budget > 2.5e8)

  budget   company                       country director       genre
1 3.00e+08 Walt Disney Pictures          USA     Gore Verbinski Action
2 2.58e+08 Columbia Pictures             USA     Sam Raimi      Action
3 2.60e+08 Walt Disney Animation Studios USA     Nathan Greno   Animation
  gross     name                                     rating released   runtime
1 309420425 Pirates of the Caribbean: At World's End PG-13  2007-05-25 169
2 336530303 Spider-Man 3                             PG-13  2007-05-04 139
3 200821936 Tangled                                  PG     2010-11-24 100
  score star          votes  writer       year
1 7.1   Johnny Depp   514191 Ted Elliott  2007
2 6.2   Tobey Maguire 416842 Sam Raimi    2007
3 7.8   Mandy Moore   325621 Dan Fogelman 2010

In [5]:
# Using OR operator
filter(movies, country == "USA" | budget > 2.5e8)[1:10,]

   budget   company                                 country director
1   8000000 Columbia Pictures Corporation           USA     Rob Reiner
2   6000000 Paramount Pictures                      USA     John Hughes
3  15000000 Paramount Pictures                      USA     Tony Scott
4  18500000 Twentieth Century Fox Film Corporation  USA     James Cameron
5   9000000 Walt Disney Pictures                    USA     Randal Kleiser
6   6000000 De Laurentiis Entertainment Group (DEG) USA     David Lynch
7   9000000 Paramount Pictures                      USA     Howard Deutch
8  15000000 SLM Production Group                    USA     David Cronenberg
9   6000000 Twentieth Century Fox Film Corporation  USA     David Seltzer
10 25000000 Twentieth Century Fox Film Corporation  USA     John Carpenter
   genre     gross     name                        rating released   runtime
1  Adventure  52287414 Stand by Me                 R      1986-08-22  89
2  Comedy     70136369 Ferris Bueller's Day Off    PG-13  1986-06-11 103
3  Action    179800601 Top Gun                     PG     1986-05-16 110
4  Action     85160248 Aliens                      R      1986-07-18 137
5  Adventure  18564613 Flight of the Navigator     PG     1986-08-01  90
6  Drama       8551228 Blue Velvet                 R      1986-10-23 120
7  Comedy     40471663 Pretty in Pink              PG-13  1986-02-28  96
8  Drama      40456565 The Fly                     R      1986-08-15  96
9  Comedy      8200000 Lucas                       PG-13  1986-03-28 100
10 Action     11100000 Big Trouble in Little China PG-13  1986-07-02  99
   score star                votes  writer           year
1  8.1   Wil Wheaton         299174 Stephen King     1986
2  7.8   Matthew Broderick   264740 John Hughes      1986
3  6.9   Tom Cruise          236909 Jim Cash         1986
4  8.4   Sigourney Weaver    540152 James Cameron    1986
5  6.9   Joey Cramer          36636 Mark H. Baker    1986
6  7.8   Isabella Rossellini 146768 David Lynch      1986
7  6.8   Molly Ringwald       60565 John Hughes      1986
8  7.5   Jeff Goldblum       129698 George Langelaan 1986
9  6.8   Corey Haim           12228 David Seltzer    1986
10 7.3   Kurt Russell        101678 Gary Goldman     1986

In [6]:
#Using xor(), xor indicates elementwise exclusive OR.
filter(movies, xor(score > 9, budget > 2.5e8))

  budget   company                       country director       genre
1 2.50e+07 Castle Rock Entertainment     USA     Frank Darabont Crime
2 3.00e+08 Walt Disney Pictures          USA     Gore Verbinski Action
3 2.58e+08 Columbia Pictures             USA     Sam Raimi      Action
4 2.60e+08 Walt Disney Animation Studios USA     Nathan Greno   Animation
  gross     name                                     rating released   runtime
1  28341469 The Shawshank Redemption                 R      1994-10-14 142
2 309420425 Pirates of the Caribbean: At World's End PG-13  2007-05-25 169
3 336530303 Spider-Man 3                             PG-13  2007-05-04 139
4 200821936 Tangled                                  PG     2010-11-24 100
  score star          votes   writer       year
1 9.3   Tim Robbins   1861666 Stephen King 1994
2 7.1   Johnny Depp    514191 Ted Elliott  2007
3 6.2   Tobey Maguire  416842 Sam Raimi    2007
4 7.8   Mandy Moore    325621 Dan Fogelman 2010

In [7]:
# you can also use %in% operator
filter(movies, country %in% c("Peru", "Colombia", "Chile"))

  budget  company                  country  director
1 0.0e+00 Concorde-New Horizons    Peru     Augusto Tamayo San Rom<e1>n
2 4.5e+07 Warner Bros.             Peru     Luis Llosa
3 3.0e+06 HBO Films                Colombia Joshua Marston
4 0.0e+00 Participant Media        Chile    Pablo Larra<ed>n
5 2.6e+07 Alcon Entertainment      Chile    Patricia Riggen
6 1.4e+06 Buffalo Films            Colombia Ciro Guerra
7 9.0e+06 Fox Searchlight Pictures Chile    Pablo Larra<ed>n
8 0.0e+00 AZ Films                 Chile    Pablo Larra<ed>n
  genre     gross    name                   rating    released   runtime score
1 Action      410880 Ultra Warrior          R         1990-03-16 100     1.6
2 Action    57362581 The Specialist         R         1994-10-07 110     5.5
3 Crime      6517198 Maria Full of Grace    R         2004-08-06 101     7.5
4 Drama      2343664 No                     R         2012-11-09 118     7.4
5 Biography 12188642 Los 33                 PG-13     2015-11-13 127     6.9
6 Adventure  1329249 Embrace of the Serpent NOT RATED 2015-05-25 125     7.9
7 Biography 13958679 Jackie                 R         2016-12-02 100     6.8
8 Biography   938875 Neruda                 R         2017-03-10 107     7.0
  star                    votes writer                year
1 Dack Rambo                661 Len Jenkin            1990
2 Sylvester Stallone      53868 John Shirley          1994
3 Catalina Sandino Moreno 31546 Joshua Marston        2004
4 Gael Garc<ed>a Bernal   19935 Pedro Peirano         2012
5 Antonio Banderas        27925 Mikko Alanne          2015
6 Nilbio Torres           13698 Ciro Guerra           2015
7 Natalie Portman         50652 Noah Oppenheim        2016
8 Gael Garc<ed>a Bernal    5680 Guillermo Calder<f3>n 2016

In R, if you want to find if a variable's value is missing, use the is.na() function. In particular, do not check for equality with NA:

In [0]:
x <- 1

In [9]:
x == NA

[1] NA

In [10]:
is.na(x)

[1] FALSE

Similarly, never put an equality condition with NA in your dplyr filter() statements.

In [11]:
# create a dataframe
df <- tibble(x = c(1, NA, 3))
print(df)

# A tibble: 3 x 1
      x
  <dbl>
1     1
2    NA
3     3

In [12]:
filter(df, x > 1)

  x
1 3

In [13]:
filter(df, is.na(x) | x > 1) # Note the special case of NA

  x
1 NA
2  3

## **Exercise 1:**


1.   Write code using filter that will allow you to output movies with `country` USA or UK and `genre` Action or Drama.
2.   Write code using filter that will allow you to output movies with `released` later than 2014-12-01. (hint: `movies$released <- as.Date(movies$released)`)

## **select(): pick columns by name**

select() let’s you choose a subset variables, specified by name.
Note, there is no need for quotation marks in dplyr:

In [14]:
#select 5 columns
select(movies, name, country, year, genre)[1:20,]

   name                        country   year genre
1  Stand by Me                 USA       1986 Adventure
2  Ferris Bueller's Day Off    USA       1986 Comedy
3  Top Gun                     USA       1986 Action
4  Aliens                      USA       1986 Action
5  Flight of the Navigator     USA       1986 Adventure
6  Platoon                     UK        1986 Drama
7  Labyrinth                   UK        1986 Adventure
8  Blue Velvet                 USA       1986 Drama
9  Pretty in Pink              USA       1986 Comedy
10 The Fly                     USA       1986 Drama
11 Crocodile Dundee            Australia 1986 Adventure
12 Highlander                  UK        1986 Action
13 Lucas                       USA       1986 Comedy
14 Big Trouble in Little China USA       1986 Action
15 Manhunter                   USA       1986 Crime
16 9<U+00BD> Weeks             USA       1986 Drama
17 Maximum Overdrive           USA       1986 Action
18 Little Shop of Horrors      USA       1986 Comedy
19 The Wraith                  USA       1986 Action
20 Howard the Duck             USA       1986 Action

In [15]:
select(movies, name, genre:score)[1:20,] # use colon to select contiguous columns,

   name                        genre     gross     rating released   runtime
1  Stand by Me                 Adventure  52287414 R      1986-08-22  89
2  Ferris Bueller's Day Off    Comedy     70136369 PG-13  1986-06-11 103
3  Top Gun                     Action    179800601 PG     1986-05-16 110
4  Aliens                      Action     85160248 R      1986-07-18 137
5  Flight of the Navigator     Adventure  18564613 PG     1986-08-01  90
6  Platoon                     Drama     138530565 R      1987-02-06 120
7  Labyrinth                   Adventure  12729917 PG     1986-06-27 101
8  Blue Velvet                 Drama       8551228 R      1986-10-23 120
9  Pretty in Pink              Comedy     40471663 PG-13  1986-02-28  96
10 The Fly                     Drama      40456565 R      1986-08-15  96
11 Crocodile Dundee            Adventure 174635000 PG-13  1986-09-26  97
12 Highlander                  Action      5900000 R      1986-03-07 116
13 Lucas                       Comedy      8200000 PG-13  1986-03-28 100
14 Big Trouble in Little China Action     11100000 PG-13  1986-07-02  99
15 Manhunter                   Crime       8620929 R      1986-08-15 120
16 9<U+00BD> Weeks             Drama       6734844 R      1986-02-21 117
17 Maximum Overdrive           Action      7433663 R      1986-07-25  98
18 Little Shop of Horrors      Comedy     38747385 PG-13  1986-12-19  94
19 The Wraith                  Action      3500000 PG-13  1986-11-21  93
20 Howard the Duck             Action     16295774 PG     1986-08-01 110
   score
1  8.1
2  7.8
3  6.9
4  8.4
5  6.9
6  8.1
7  7.4
8  7.8
9  6.8
10 7.5
11 6.5
12 7.2
13 6.8
14 7.3
15 7.2
16 5.9
17 5.4
18 6.9
19 5.9
20 4.6

In [16]:
select(movies, -(star:writer))[1:20,] # To drop columns use a minus, "-"

   budget   company                                 country   director
1   8000000 Columbia Pictures Corporation           USA       Rob Reiner
2   6000000 Paramount Pictures                      USA       John Hughes
3  15000000 Paramount Pictures                      USA       Tony Scott
4  18500000 Twentieth Century Fox Film Corporation  USA       James Cameron
5   9000000 Walt Disney Pictures                    USA       Randal Kleiser
6   6000000 Hemdale                                 UK        Oliver Stone
7  25000000 Henson Associates (HA)                  UK        Jim Henson
8   6000000 De Laurentiis Entertainment Group (DEG) USA       David Lynch
9   9000000 Paramount Pictures                      USA       Howard Deutch
10 15000000 SLM Production Group                    USA       David Cronenberg
11  8800000 Rimfire Films                           Australia Peter Faiman
12 16000000 Thorn EMI Screen Entertainment          UK        Russell Mulcahy
13  6000000 Twentieth Century Fox Film Corporation  USA       David Seltzer
14 25000000 Twentieth Century Fox Film Corporation  USA       John Carpenter
15 15000000 De Laurentiis Entertainment Group (DEG) USA       Michael Mann
16 17000000 Producers Sales Organization (PSO)      USA       Adrian Lyne
17 10000000 De Laurentiis Entertainment Group (DEG) USA       Stephen King
18 25000000 Geffen Company, The                     USA       Frank Oz
19  2700000 New Century Entertainment Corporation   USA       Mike Marvin
20 35000000 Universal Pictures                      USA       Willard Huyck
   genre     gross     name                        rating released   runtime
1  Adventure  52287414 Stand by Me                 R      1986-08-22  89
2  Comedy     70136369 Ferris Bueller's Day Off    PG-13  1986-06-11 103
3  Action    179800601 Top Gun                     PG     1986-05-16 110
4  Action     85160248 Aliens                      R      1986-07-18 137
5  Adventure  18564613 Flight of the Navigator     PG     1986-08-01  90
6  Drama     138530565 Platoon                     R      1987-02-06 120
7  Adventure  12729917 Labyrinth                   PG     1986-06-27 101
8  Drama       8551228 Blue Velvet                 R      1986-10-23 120
9  Comedy     40471663 Pretty in Pink              PG-13  1986-02-28  96
10 Drama      40456565 The Fly                     R      1986-08-15  96
11 Adventure 174635000 Crocodile Dundee            PG-13  1986-09-26  97
12 Action      5900000 Highlander                  R      1986-03-07 116
13 Comedy      8200000 Lucas                       PG-13  1986-03-28 100
14 Action     11100000 Big Trouble in Little China PG-13  1986-07-02  99
15 Crime       8620929 Manhunter                   R      1986-08-15 120
16 Drama       6734844 9<U+00BD> Weeks             R      1986-02-21 117
17 Action      7433663 Maximum Overdrive           R      1986-07-25  98
18 Comedy     38747385 Little Shop of Horrors      PG-13  1986-12-19  94
19 Action      3500000 The Wraith                  PG-13  1986-11-21  93
20 Action     16295774 Howard the Duck             PG     1986-08-01 110
   score year
1  8.1   1986
2  7.8   1986
3  6.9   1986
4  8.4   1986
5  6.9   1986
6  8.1   1986
7  7.4   1986
8  7.8   1986
9  6.8   1986
10 7.5   1986
11 6.5   1986
12 7.2   1986
13 6.8   1986
14 7.3   1986
15 7.2   1986
16 5.9   1986
17 5.4   1986
18 6.9   1986
19 5.9   1986
20 4.6   1986

## **select() helpers**
You can use the following functions to help select the columns:


*   starts_with()
*   ends_with()
*   contains()
*   matches() (matches a regular expression)
*   num_range("x", 1:4): pickes variables x1, x2, x3, x4

Example:

In [17]:
select(movies, starts_with("r"))[1:6,,]
select(movies, ends_with("e"))[1:6,]
select(movies, contains("re"))[1:6,]

  rating released   runtime
1 R      1986-08-22  89
2 PG-13  1986-06-11 103
3 PG     1986-05-16 110
4 R      1986-07-18 137
5 PG     1986-08-01  90
6 R      1987-02-06 120

  genre     name                     runtime score
1 Adventure Stand by Me               89     8.1
2 Comedy    Ferris Bueller's Day Off 103     7.8
3 Action    Top Gun                  110     6.9
4 Action    Aliens                   137     8.4
5 Adventure Flight of the Navigator   90     6.9
6 Drama     Platoon                  120     8.1

  director       genre     released   score
1 Rob Reiner     Adventure 1986-08-22 8.1
2 John Hughes    Comedy    1986-06-11 7.8
3 Tony Scott     Action    1986-05-16 6.9
4 James Cameron  Action    1986-07-18 8.4
5 Randal Kleiser Adventure 1986-08-01 6.9
6 Oliver Stone   Drama     1987-02-06 8.1

## **Exercise 2:**

Write code that will have company as the first column and the columns starting with the letter 'g' as the following columns. Output the first 20 rows of such a dataset.

## **arrange(): reorder rows**

arrange() takes a data frame and a set of column names to order by.
For descending order, use the function desc() around the column name.

In [18]:
print(arrange(movies, runtime), n = 4)

# A tibble: 6,820 x 15
  budget company country director genre  gross name  rating released runtime
   <dbl> <chr>   <chr>   <chr>    <chr>  <dbl> <chr> <chr>  <chr>      <dbl>
1 0.     Iwerks~ France  Jean-Ja~ Adve~ 1.51e7 "Win~ G      1996-09~      50
2 1.25e7 Univer~ USA     Don Blu~ Anim~ 4.81e7 "The~ G      1988-11~      69
3 6.00e3 Next W~ UK      Christo~ Crime 4.85e4 "Fol~ R      1999-11~      69
4 0.     Hyperi~ USA     Bruce W~ Anim~ 8.44e6 "B\x~ PG-13  1992-07~      70
# ... with 6,816 more rows, and 5 more variables: score <dbl>, star <chr>,
#   votes <dbl>, writer <chr>, year <dbl>

In [19]:
# use `desc` for descending
print(arrange(movies, desc(budget)), n = 4)

# A tibble: 6,820 x 15
  budget company country director genre  gross name  rating released runtime
   <dbl> <chr>   <chr>   <chr>    <chr>  <dbl> <chr> <chr>  <chr>      <dbl>
1 3.00e8 Walt D~ USA     Gore Ve~ Acti~ 3.09e8 Pira~ PG-13  2007-05~     169
2 2.60e8 Walt D~ USA     Nathan ~ Anim~ 2.01e8 Tang~ PG     2010-11~     100
3 2.58e8 Columb~ USA     Sam Rai~ Acti~ 3.37e8 Spid~ PG-13  2007-05~     139
4 2.50e8 Warner~ UK      David Y~ Adve~ 3.02e8 Harr~ PG     2009-07~     153
# ... with 6,816 more rows, and 5 more variables: score <dbl>, star <chr>,
#   votes <dbl>, writer <chr>, year <dbl>

Missing values are always sorted at the end:

In [20]:
df <- tibble(x = c(5, NA, 2))
arrange(df, x)

  x
1  2
2  5
3 NA

In [21]:
arrange(df, desc(x))

  x
1  5
2  2
3 NA

## **Exercise 3:**

Use arrange to sort the `movies` dataset by ascending order of the product of the budget and score variables. Output the first 20 rows of the new dataset.

## **mutate(): add new variables**

mutate() adds new columns that are a function of the existing ones

In [22]:
movies <- mutate(movies, profit = gross - budget)
select(movies, name, gross, budget, profit)[1:20,]

   name                        gross     budget   profit
1  Stand by Me                  52287414  8000000  44287414
2  Ferris Bueller's Day Off     70136369  6000000  64136369
3  Top Gun                     179800601 15000000 164800601
4  Aliens                       85160248 18500000  66660248
5  Flight of the Navigator      18564613  9000000   9564613
6  Platoon                     138530565  6000000 132530565
7  Labyrinth                    12729917 25000000 -12270083
8  Blue Velvet                   8551228  6000000   2551228
9  Pretty in Pink               40471663  9000000  31471663
10 The Fly                      40456565 15000000  25456565
11 Crocodile Dundee            174635000  8800000 165835000
12 Highlander                    5900000 16000000 -10100000
13 Lucas                         8200000  6000000   2200000
14 Big Trouble in Little China  11100000 25000000 -13900000
15 Manhunter                     8620929 15000000  -6379071
16 9<U+00BD> Weeks               6734844 17000000 -10265156
17 Maximum Overdrive             7433663 10000000  -2566337
18 Little Shop of Horrors       38747385 25000000  13747385
19 The Wraith                    3500000  2700000    800000
20 Howard the Duck              16295774 35000000 -18704226

To discard old variables, use transmute() instead of mutate().

In [23]:
# Generating multiple new variables
movies <- mutate(
movies,
profit = gross - budget,
gross_in_mil = gross/10^6,
budget_in_mil = budget/10^6,
profit_in_mil = profit/10^6
)
select(movies, name, year, country, contains("_in_mil"), profit)[1:20,]

   name                        year country   gross_in_mil budget_in_mil
1  Stand by Me                 1986 USA        52.287414    8.0
2  Ferris Bueller's Day Off    1986 USA        70.136369    6.0
3  Top Gun                     1986 USA       179.800601   15.0
4  Aliens                      1986 USA        85.160248   18.5
5  Flight of the Navigator     1986 USA        18.564613    9.0
6  Platoon                     1986 UK        138.530565    6.0
7  Labyrinth                   1986 UK         12.729917   25.0
8  Blue Velvet                 1986 USA         8.551228    6.0
9  Pretty in Pink              1986 USA        40.471663    9.0
10 The Fly                     1986 USA        40.456565   15.0
11 Crocodile Dundee            1986 Australia 174.635000    8.8
12 Highlander                  1986 UK          5.900000   16.0
13 Lucas                       1986 USA         8.200000    6.0
14 Big Trouble in Little China 1986 USA        11.100000   25.0
15 Manhunter                   1986 USA         8.620929   15.0
16 9<U+00BD> Weeks             1986 USA         6.734844   17.0
17 Maximum Overdrive           1986 USA         7.433663   10.0
18 Little Shop of Horrors      1986 USA        38.747385   25.0
19 The Wraith                  1986 USA         3.500000    2.7
20 Howard the Duck             1986 USA        16.295774   35.0
   profit_in_mil profit
1   44.287414     44287414
2   64.136369     64136369
3  164.800601    164800601
4   66.660248     66660248
5    9.564613      9564613
6  132.530565    132530565
7  -12.270083    -12270083
8    2.551228      2551228
9   31.471663     31471663
10  25.456565     25456565
11 165.835000    165835000
12 -10.100000    -10100000
13   2.200000      2200000
14 -13.900000    -13900000
15  -6.379071     -6379071
16 -10.265156    -10265156
17  -2.566337     -2566337
18  13.747385     13747385
19   0.800000       800000
20 -18.704226    -18704226

Any vectorized function can be used with mutate(), including:


*   arithmetic operators (+,-,*,/, %, %%),
*   logical operators (<,<=,>,>=,==,!=),
*   logarithmic and exponential transfomations (log, log10, exp),
*   offsets (lead, lag),
*   cummulative rolling aggregates (cumsum, cumprod, cummin, cummax),
*   ranking (min_rank, percent_rank).