In [0]:
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### **Exercise**:

1.  This dataset only records when a fish was detected by the station - it doesn’t record when it wasn’t detected. Suppose we know that the absence of a record means that the fish was not seen, use `pivot_wider()` and `values_fill` argument to fill these missing values in with zeros(and also try to use chaining operator).

In [0]:
fish_encounters %>% pivot_wider(
  names_from = station, 
  values_from = seen,
  values_fill = list(seen = 0)
)


2.   Tidy the following dataset:
 *   make it longer and eliminate the explcit `NA`s, add a column with name `checked` and assign value `TRUE` to each entry of the `checked` column.
 *   make the data wider, filling in the missing observations with `FALSE`(use `values_fill`)

In [0]:
multi <- tribble(
  ~id, ~choice1, ~choice2, ~choice3,
  1, "A", "B", "C",
  2, "C", "B",  NA,
  3, "D",  NA,  NA,
  4, "B", "D",  NA
)

In [0]:
multi2 <- multi %>% 
  pivot_longer(-id, values_drop_na = TRUE) %>% 
  mutate(checked = TRUE)
multi2

In [0]:
multi2 %>% 
  pivot_wider(
    id_cols = id,
    names_from = value, 
    values_from = checked, 
  )

In [0]:
multi2 %>% 
  pivot_wider(
    id_cols = id,
    names_from = value, 
    values_from = checked, 
    values_fill = list(checked = FALSE)
  )


3.   Tidy the following dataset:
 *   Notice year is spread across multiple columns, first make it longer.
 *   Split the indicator up into two variables: `area` (total or urban) and `variable` (population or growth), i.e. discard "SP", keep other two characters and assign them to `area` and `variable` respectively.
 *   Complete the tidying by pivoting variable and value

In [0]:
pop2 <- world_bank_pop %>% 
  pivot_longer(`2000`:`2017`, names_to = "year", values_to = "value")
pop2

In [0]:
pop3 <- pop2 %>% 
  separate(indicator, c(NA, "area", "variable"))
pop3

In [0]:
pop3 %>% 
  pivot_wider(names_from = variable, values_from = value)