In [0]:
library (tidyverse)

In [0]:
url <- "https://raw.githubusercontent.com/Juanets/movie-stats/master/movies.csv"
movies <- read_csv(url)
locale <- Sys.setlocale(category = "LC_ALL", locale = "C")

In [0]:
# Exercise 1.1: Write code using filter that will allow you to output movies with country USA or UK and genre Action or Drama.
filter(movies, country == "USA"| country == "UK", genre == "Action"| genre == "Drama")

In [0]:
# Exercise 1.2: Write code using filter that will allow you to output movies with released later than 2014-12-01.
movies$released <- as.Date(movies$released)
filter(movies, released > "2014-12-01")

In [0]:
# Exercise 2: Write code that will have company as the first column and the columns starting with the letter 'g' as the following columns. Output the first 20 rows of such a dataset.
select(movies, company, starts_with("g"))[1:20,]

In [0]:
# Exercise 3: Use arrange to sort the `movies` dataset by ascending order of the product of the budget and score variables. Output the first 20 rows of the new dataset.
arrange(movies, budget, score)[1:20,]