In [0]:
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [0]:
df <- data.frame(abc = 1, xyz = "a")
df$x
df[, "xyz"]
df[, c("abc", "xyz")]
class(df[, "xyz"])
class(df[, c("abc", "xyz")])

[1] a
Levels: a

[1] a
Levels: a

  abc xyz
1 1   a

[1] "factor"

[1] "data.frame"

In [0]:
df1 <- as_tibble(df)
df1$x
class(df1[, "xyz"])
df1[, c("abc", "xyz")]

Warning message:
“Unknown or uninitialised column: 'x'.”

NULL

[1] "tbl_df"     "tbl"        "data.frame"

  abc xyz
1 1   a

`enframe()` converts named atomic vectors or lists to one- or two-column data frames. For a list, the result will be a nested tibble with a column of type list. For unnamed vectors, the natural sequence is used as name column.

In [0]:
enframe(1:3)

  name value
1 1    1
2 2    2
3 3    3

In [0]:
enframe(c(a = 5, b = 7))

  name value
1 a    5
2 b    7

Use the `read_delim()` function with the argument `delim="|"`.

In [0]:
read_delim("a|b|c\n1|2|3\n4|5|6", delim = "|")

  a b c
1 1 2 3
2 4 5 6

In [0]:
union(names(formals(read_csv)), names(formals(read_tsv)))

 [1] "file"            "col_names"       "col_types"       "locale"
 [5] "na"              "quoted_na"       "quote"           "comment"
 [9] "trim_ws"         "skip"            "n_max"           "guess_max"
[13] "progress"        "skip_empty_rows"

The most important argument to `read_fwf()` which reads "fixed-width formats", is `col_positions` which tells the function where data columns begin and end.

In [0]:
x <- "x,y\n1,'a,b'"
read_csv(x, quote = "'")

  x y
1 1 a,b