# **Lab 13: Lists, iterations, final**

In [17]:
library(tidyverse)
install.packages("nycflights13")
library(nycflights13)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

## Lists

### [ vs [[

In [2]:
s <- c("aa", "bb", "cc", "dd", "ee") 
x <- list("n", s, 5, 3)

We retrieve a list slice with the single square bracket "[]" operator. The following is a slice containing the second member of x, which is a copy of s.

In [3]:
x[2]

[[1]]
[1] "aa" "bb" "cc" "dd" "ee"

In [4]:
class(x[2])

[1] "list"

In [5]:
length(x[2])
length(s)

[1] 1

[1] 5

If we want to change the first element of x[2], say change "aa" to "ta", [ won't give you the desired result:

In [6]:
x[2]<-c("ta", "bb", "cc", "dd", "ee")
x

Warning message in x[2] <- c("ta", "bb", "cc", "dd", "ee"):
“number of items to replace is not a multiple of replacement length”

[[1]]
[1] "n"

[[2]]
[1] "ta"

[[3]]
[1] 5

[[4]]
[1] 3

In [8]:
s <- c("aa", "bb", "cc", "dd", "ee") 
x <- list("n", s, 5, 3)
x[2][1] <- "ta"
x

[[1]]
[1] "n"

[[2]]
[1] "ta"

[[3]]
[1] 5

[[4]]
[1] 3

You need [[ when working with lists. This is because when [ is applied to a list it always returns a list: it never gives you the contents of the list. To get the contents, you need [[:

In [10]:
s <- c("aa", "bb", "cc", "dd", "ee") 
x <- list("n", s, 5, 3)
x[[2]][1] <- "ta"
x[[2]]
s # s is unaffected, x[[2]] is a copy of s

[1] "ta" "bb" "cc" "dd" "ee"

[1] "aa" "bb" "cc" "dd" "ee"

## Negative index for subsetting

Negative numbers for subsetting mean to drop those elements:

In [11]:
x = c(1,2,3)
x[-1] #to get the everything but the first element

[1] 2 3

## Iterations

### Unknown sequence length

In [ ]:
for (i in seq_along(x)) {
  # body
}

# Equivalent to
i <- 1
while (i <= length(x)) {
  # body
  i <- i + 1 
}

### Q: use loop to do the following, store the result in a vector:

**(1)** Compute the mean of every column in mtcars with na.rm argument being true

**(2)** Determine the type of each column in nycflights13::flights.

**(3)** Compute the number of unique values in each column of iris.

In [12]:
seq_along(mtcars)

 [1]  1  2  3  4  5  6  7  8  9 10 11

In [13]:
# task 1
mtcars_mean <- vector('double')
for (i in seq_along(mtcars)){
    mtcars_mean[i] <- mean(mtcars[[i]], na.rm = TRUE)
}
mtcars_mean

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   2.812500

In [18]:
# task 2
ftype <- vector('character')
for (i in seq_along(flights)){
    ftype[i] <- typeof(flights[[i]])
}
ftype

 [1] "integer"   "integer"   "integer"   "integer"   "integer"   "double"
 [7] "integer"   "integer"   "double"    "character" "integer"   "character"
[13] "character" "character" "double"    "double"    "double"    "double"
[19] "double"

In [19]:
# task 3
irisuniq <- vector('integer')
for (i in seq_along(iris)){
    irisuniq[i] <- length(unique(iris[[i]]))
}
irisuniq

[1] 35 23 43 22  3

## Final

*  ggplot
*  dplyr
*  EDA
*  Data import: read_csv()
*  Tidy data:
  *  pivot_longer()
  *  pivot_wider()
  *  separate()
  *  unite()
*  Strings and regular expressions
*  Functions
*  Vectors and lists
*  Iterations