# **Lab 8: Tibble, Data import**

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## **Creating tibbles**

Creating tibbles is similar to data.frames, but no strict rules on column names:

In [2]:
tb <- tibble(x = 1:5, y = 1,z = x ^ 2 + y, `.2way` = 2)
print(tb)

# A tibble: 5 x 4
      x     y     z `.2way`
  <int> <dbl> <dbl>   <dbl>
1     1     1     2       2
2     2     1     5       2
3     3     1    10       2
4     4     1    17       2
5     5     1    26       2

Tibbles are a built on top of dataframes, so they have additional functionality compared to dataframes. But if you want to coerce some classical dataframes into tibbles, use  `as_tibble()` :

In [3]:
class(iris)

[1] "data.frame"

In [4]:
class(as_tibble(iris))

[1] "tbl_df"     "tbl"        "data.frame"

In [5]:
iris_tbl = as_tibble(iris)
print(iris_tbl)

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <fct>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# … with 140 more rows

Another way to create a tibble is with `tribble()`, short for transposed tibble. `tribble()` is customised for data entry in code: column headings are defined by formulas (i.e. they start with ~), and entries are separated by commas. This makes it possible to lay out small amounts of data in easy to read form.

In [6]:
tribble(
  ~x, ~y, ~z,
  "a", 2, 3.6,
  "b", 1, 8.5
)

  x y z
1 a 2 3.6
2 b 1 8.5

The benefit of tibble over dataframe is that it allows us to visualize and subset our data more easily.

## **Subsetting**

Subseting tibbles is stricter than subseting data.frames, and **ALWAYS** returns
objects with expected class: a single [ returns a tibble, a double[[ returns a vector.

In [7]:
class(diamonds$carat)

[1] "numeric"

In [8]:
class(diamonds[["carat"]])

[1] "numeric"

In [9]:
class(diamonds[,"carat"])

[1] "tbl_df"     "tbl"        "data.frame"

In [10]:
diamonds[[carat]]

ERROR: ignored

## **More on tibbles**

You can read more about other tibble features by calling on your R console:

In [0]:
vignette("tibble")

## **Exercise**

*   Compare and contrast the following operations on a data.frame and equivalent tibble. What is different? Why might the default data frame behaviours cause you frustration?

In [0]:
df <- data.frame(abc = 1, xyz = "a")
df$x
df[, "xyz"]
df[, c("abc", "xyz")]

*   Practice referring to non-syntactic names in the following data frame by:
    *   Extracting the variable called 1.
    *   Plotting a scatterplot of 1 vs 2.
    *   Creating a new column called 3 which is 2 divided by 1.
    *   Renaming the columns to one, two and three.

In [0]:
annoying <- tibble(
  `1` = 1:10,
  `2` = `1` * 2 + rnorm(length(`1`))
)

What does tibble::enframe() do? When might you use it?

## **Data import**


*   The current working directory (cmd) is the location which R is
currently pointing to.
*   Whenever you try to read or save a file without specifying the path explicitly, the cmd will be used by default.
*   When are executing code from an R markdown/notebook code chunk, the cmd is the location of the document.
*   To see the current working directory use getwd():

In [0]:
getwd()

To change the working directory use setwd(path_name) with a specified
path as an argument:

In [0]:
setwd("path/to/directory")

## **Importing text data**

*   Text Files in a table format can be read and saved to a selected
variable using a `read.table()` function. Use `?read.table` to learn
more about the function.
*   To read these files use the following command:

In [0]:
mydata <- read.table("path/to/filename.csv", header=TRUE, sep = ",")
# read.csv() has covenient argument defaults for '.csv' files
mydata <- read.csv("path/to/filename.csv")

## **`read.csv()` vs `read_csv()`**
*   `read_csv()` in `readr` package is 2~3 times faster and suitable for large data set.
*   They produce tibbles, they don’t convert character vectors to factors, use row names, or munge the column names. These are common sources of frustration with the base R functions.
*   They are more reproducible. Base R functions inherit some behaviour from your operating system and environment variables, so import code that works on your computer might not work on someone else’s.

## **The `readr` package**

*   `read_csv()`: reads comma delimited files,
*   `read_tsv()`: tab-separated files
*   `read_delim()`: general delimited files
*   `read_fwf()`: fixed-width files. You can specify fields either by their widths with  `fwf_widths()`  or their position with  `fwf_positions()` .  
*   `read_table()`:  reads a common variation of fixed width files where columns are separated by white space.
*   `read_log()`: web log files

In [0]:
library(MASS)

In [0]:
head(Boston)

In [0]:
write.csv(Boston, file = "~/Desktop/boston.csv", row.names = FALSE)

In [0]:
boston <- read_csv("~/Desktop/boston.csv")

Notice that readr gets its column names from the first row of the CSV. If the first (or however many) has metadata instead of column names, you can use the following to indicate which line has the actual column names.

In [3]:
read_csv("The first line of metadata
  The second line of metadata
  x,y,z
  1,2,3", skip = 2)

  x y z
1 1 2 3

If your data does not have column name, use `col_name` argument:

In [4]:
read_csv(
 "1,2,3\n 4,5,6", col_name = F
)

  X1 X2 X3
1 1  2  3
2 4  5  6

In [5]:
read_csv("# A comment I want to skip
  x,y,z
  1,2,3", comment = "#")

  x y z
1 1 2 3

Alternatively you can pass col_names, a character vector which will be used as the column names:

In [6]:
read_csv("1,2,3\n4,5,6", col_names = c("x", "y", "z"))

  x y z
1 1 2 3
2 4 5 6

Another option that commonly needs tweaking is na: this specifies the value (or values) that are used to represent missing values in your file:

In [7]:
read_csv("a,b,c\n1,2,.", na = ".")

  a b c
1 1 2 NA

## **Exercise**

*   What function would you use to read a file where fields were separated with “|”? Create such a file and make sure it works.

*   Apart from file, skip, and comment, what other arguments do `read_csv()` and `read_tsv()` have in common?

*   What are the most important arguments to `read_fwf()`?

*  Sometimes strings in a CSV file contain commas. To prevent them from causing problems they need to be surrounded by a quoting character, like " or '. By convention, read_csv() assumes that the quoting character will be ". If you want to change it, what arguments do you need to specify to read the following text into a data frame?

In [0]:
x <- "x,y\n1,'a,b'"